@import url('reset.css');
body.dark{
    background-color: #333;
    color: white;
}

header{
    width: 100%;
    height: 5rem;
    /* border: 1px solid red; */
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: white;
}
header.active{
    box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.5);
}
header.dark{
    background-color: #333;
}
header .navbar{
    width: 80%;
    min-width: 375px;

    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* border: 1px solid blue; */
}
/* 로고 */
header .navbar .logo{
    /* border: 1px solid green; */
    display: flex;
    align-items: center;
    height: 50%;
    transition: 0.3s;
    cursor: pointer;
}
header .navbar .logo:hover{
    color: orangered;
}
header .navbar .logo span{
    font-size: 3rem;
    font-weight: bold;
    color: orangered;
}
header .navbar .logo h1{
    font-size: 1.5rem;
}
/* 네비 메뉴 */
header .navbar .nav-menus{
    /* border: 1px solid red; */
    width: 20rem;
}
header .navbar .nav-menus ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
}
header .navbar .nav-menus ul li:hover{
    color: orangered;
}
/* 아바타 */
header .navbar .account{
    border: 2px solid orangered;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    overflow: hidden;
}
header .navbar .account img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
/* 모드 */
header .navbar .mode span{
    font-size: 2rem;
    cursor: pointer;
    transition: 1s;
}
header .navbar .mode span:not(.active){
    display: none;
}
/* 메뉴버튼 */
header .navbar .ham-btn{
    /* border: 1px solid red; */
    display: none;
}
header .navbar .ham-btn span{
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
}

/* 메인 콘텐츠 */

main{
    /* margin-top: 10rem; */
    width: 100%;
    min-width: 375px;
}
main .main-top{
    /* border: 1px solid blue; */
    width: 90%;
    margin: 0 auto;
}
/* 메인 아티클 */
main .main-top .article{
    /* border: 1px solid green; */
    width: 80%;
    margin: 2rem auto;
    text-align: center;
}
main .main-top .article h1{
    font-size: 2rem;
    margin-bottom: 1rem;
}
main .main-top .article p{
    font-size: 1rem;
    line-height: 1.5rem;
}
/* 메인 검색창 */
main .main-top .search{
    border: 2px solid lightgray;
    border-radius: 1rem;
    width: 50%;
    max-width: 400px;
    min-width: 200px;

    margin: auto;
    display: flex;
    justify-content: center;
    cursor: pointer;
    overflow: hidden;
    margin-bottom: 1rem;
}
main .main-top .search .search-bar{
    width: 25rem;
    min-width: 8rem;
    outline: none;
    padding-left: 1.5rem;
    border-radius: 0.5rem 0 0 0.5rem;
    border: none;
    font-size: 1rem;
    color: orangered;
}
main .main-top .search .search-bar::placeholder{
    font-size: 1.2rem;
    color: orangered;
}
main .main-top .search .search-btn{
    border: none;
    border-radius: 0 0.5rem 0.5rem 0;
    background-color: orangered;
    color: white;
    cursor: pointer;
    width: 3rem;
    min-width: 3rem;
}
main .main-top .search .search-btn span{
    padding-top: 0.2rem;
}
/* 아이템 검색결과 */
main .main-top .result{
    /* border: 1px solid red; */
    width: 100%;
    margin: auto;
    text-align: center;
}
main .main-top .result h1{
    font-size: 1.5rem;
    margin-bottom: 2rem;
}
main .main-top .result .result-items{
    /* border: 1px solid green; */
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
main .main-top .result .item{
    /* border: 1px solid blue; */
    flex: 0 0 auto;
    width: 250px;
    height: 400px;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.5);
    margin-right: 1rem;
    margin-bottom: 1rem;
    overflow: hidden;
    background-color: white;
    color: black;
    position: relative;
}
main .main-top .result .item img{
    width: 100%;
    height: 70%;
}
main .main-top .result .item h3{
    font-size: 1rem;
    margin: 1rem 0 ;
}
main .main-top .result .item button{
    border: none;
    background-color: orangered;
    height: 2rem;
    padding: 0 0.5rem;
    border-radius: 1rem;
    color: white;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
}
/* 아이템 모달창 */
main .main-top .result .result-items .item-modal{
    /* border: 1px solid red; */
    width: 500px;
    height: 600px;
    border-radius: 1rem;
    background-color: orangered;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    z-index: 10;
}
main .main-top .result .result-items .item-modal .close-btn{
    border: none;
    background-color: white;
    border-radius: 50%;
    width: 1.3rem;
    height: 1.3rem;
    line-height: 1.2rem;
    text-align: center;
    color: black;
    font-size: 1.3rem;
    /* font-weight: bold; */
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    cursor: pointer;
}
main .main-top .result .result-items .item-modal button span{
    position: relative;
    bottom: 0.1rem;
    right: 0.05rem;
}
main .main-top .result .result-items .item-modal .content{
    width: 80%;
    text-align: center;
    /* border: 1px solid red; */
    height: 90%;
    margin: 3rem auto;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
}
main .main-top .result .result-items .item-modal .content::-webkit-scrollbar{
    display: none;
}
main .main-top .result .result-items .item-modal p:nth-of-type(1){
    font-weight: bold;
    font-size: 1.5rem;
    color: white;
    margin-bottom: 1rem;
}
main .main-top .result .result-items .item-modal p:nth-of-type(2){
    background-color: white;
    color: orangered;
    font-size: 0.8rem;
    font-weight: bold;
    padding: 0.2rem;
    border-radius: 0.2rem;
    width: 4rem;
    margin: 1rem auto;
}
main .main-top .result .result-items .item-modal p:nth-of-type(3){
    font-size: 1rem;
    margin-bottom: 1rem;
}
main .main-top .result .result-items .item-modal p:nth-of-type(4){
    margin: 1rem auto;
    text-align: center;
    line-height: 1.5rem;
}
main .main-top .result .result-items .item-modal img{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    margin-bottom: 1.5rem;
}
main .main-top .result .result-items .item-modal .video-btn{
    text-decoration: underline;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    position: relative;
    bottom: 1rem;
    margin: 1rem auto;
    border: none;
    background: none;
    color: white;
}
main .main-top .result .result-items .item-modal .video{
    width: 100%;
    cursor: pointer;
    display: none;
    margin-bottom: 1.5rem;
}
@media(max-width:850px){
    header .navbar{
        width: 90%;
    }
    header .navbar .logo h1{
        font-size: 1.3rem;
    }
    main .main-top .search{
        width: 80%;
        height: 3rem;
        font-size: 1.2rem;
    }
}
@media(max-width:720px){
    header .navbar{
        width: 90%;
    }
    header .navbar .account{
        margin-right: 0.5rem;
    }
    header .navbar .nav-menus ul{
        font-size: 1rem;
        justify-content: space-evenly;
    }
}
@media(max-width:650px){
    header .navbar .logo span{
        font-size: 2.5rem;
    }
}
@media(max-width:600px){
    main .main-top .result .item{
        width: 235px;
        height: 335px;
    }
}
@media(max-width:560px){
    main .main-top .result .item{
        margin-right: 0.5rem;
        margin-bottom: 0.5rem;
        width: 200px;
        height: 300px;
    }
    main .main-top .result .result-items .item-modal{
        width: 450px;
        height: 550px;
    }
}
@media (max-width:420px){
    header{
        position: fixed;
        top: 0;
    }
    header .navbar .nav-menus ul,
    header .navbar .account{
        display: none;
    }

    header .navbar .ham-btn{
        display: block;
        margin: 0.5rem;
    }
    /* 메인 검색창 */
    main{
        margin-top: 5rem;
    }
    main .main-top .search{
        width: 90%;
        height: 3.5rem;
        font-size: 1.2rem;
    }
    main .main-top .result .result-items{
        /* border: 1px solid green; */
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* flex-wrap: wrap; */
    }
    main .main-top .result .item{
        /* border: 1px solid blue; */
        flex: 0 0 auto;
        width: 90%;
    }
    main .main-top .result .item h3{
        font-size: 1.3rem;
    }
    main .main-top .result .item button{
        bottom: 0.3rem;
    }
    /* 모달창 */
    main .main-top .result .result-items .item-modal{
        width: 300px;
        max-height: 400px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding-bottom: 1rem;
    }
    main .main-top .result .result-items .item-modal .content{
        max-height: 380px;
    }
    main .main-top .result .result-items .item-modal p:nth-of-type(1){
        font-size: 1.3rem;
        margin-bottom: 1rem;
    }
    main .main-top .result .result-items .item-modal p:nth-of-type(2){
        font-size: 0.7rem;
        padding: 0.2rem;
    }
    main .main-top .result .result-items .item-modal p:nth-of-type(3){
        font-size: 0.8rem;
        margin-bottom: 1rem;
    }
    main .main-top .result .result-items .item-modal p:nth-of-type(4){
        line-height: 1.3rem;
        font-size: 0.8rem;
    }
    main .main-top .result .result-items .item-modal img{
        width: 3rem;
        height: 3rem;
        margin-bottom: 1.5rem;
    }
    main .main-top .result .result-items .item-modal .video-btn{
        font-size: 0.8rem;
    }
    main .main-top .result .result-items .item-modal .video{
        height: 10rem;
    }
}